<ng-container>
  <section class="bg-light pt-5 pb-5 shadow-sm">
    <div class="container">
      <div class="row" *ngIf="hasProducts">
        <!--Item One -->
        <div class="col-lg-3 mb-3 d-flex align-items-stretch" *ngFor="let product of products; let _i=index">
          <div class="card">
            <a routerLink="/product/{{product.id}}"><img src="{{product.imageUrl}}" class="card-img-top"
                                                         alt="{{product.name}}"></a>
            <div class="card-body d-flex flex-column">
              <h4 class="card-title"><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
              <p class="card-text mb-4">{{product.unitPrice | currency:"USD" }}</p>
              <a href="#" class="btn btn-danger text-white mt-auto align-self-start">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!hasProducts" class="row alert alert-warning" role="alert"><p>No products found</p></div>

      <div class="row">
        <div class="col-md-5"></div>

        <div class="col-md-7">
          <div class="row">
            <div class="col-md-9">
              <ngb-pagination [(page)]="pageNumber"
                              [pageSize]="pageSize"
                              [collectionSize]="totalElements"
                              [maxSize]="5"
                              [boundaryLinks]="true"
                              (pageChange)="listProducts()">
              </ngb-pagination>
            </div>
            <div class="col-md-3">
              <span class="mr-2">Page Size</span>

              <select #changePaginationLimit (change)="updatePageSize(+changePaginationLimit.value)">
                <option>2</option>
                <option selected="true">5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
